static/assets/img/** filter=lfs diff=lfs merge=lfs -text
content/**/img/** filter=lfs diff=lfs merge=lfs -text
content/home/**/*.png filter=lfs diff=lfs merge=lfs -text
content/home/**/*.jpg filter=lfs diff=lfs merge=lfs -text
content/home/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
content/home/**/*.pdf filter=lfs diff=lfs merge=lfs -text
content/home/**/*.gif filter=lfs diff=lfs merge=lfs -text
