{% if config.extra.persona.contact_infos is defined %}

  {% for info in config.extra.persona.contact_infos %}
    {% if info.item == "_navigation" %}
  <section id="{{ info.content | lower }}" class="contact segment">
      {{ <render.section_title title={info.content} /> }}
    {% endif %}
  {% endfor %}
    

    <div class="container" data-aos="fade" data-aos-delay="200">
      <div class="row gy-4">

        {% if config.extra.persona.web3form_public_key is defined and config.extra.persona.web3form_public_key != "" %}
          <div class="col-lg-4">
            {% include "partials/contact-info.html" %}  
          </div>
          {% include "partials/contact-form.html" %}
        {% else %}
          <div class="col-lg-8 offset-lg-4">
            {% include "partials/contact-info.html" %}  
          </div>
        {% endif %}
      
      </div>
    </div>

  </section>
{% endif %}
