{# 
  Whichever page includes this partial will need to import the following at the top of the file.
  import "macros/title.html" as title_macro
#}

{% if config.extra.persona.contact_infos is defined %}
  <section id="contact" class="contact section">

    {{ title_macro::render(title="Contact") }}

    <div class="container" data-aos="fade" data-aos-delay="200">
      <div class="row gy-4">

        {% if config.extra.persona.web3form_public_key is defined and config.extra.persona.web3form_public_key != "" %}
          <div class="col-lg-4">
            {% include "partials/contact-info.html" %}  
          </div>
          {% include "partials/contact-form.html" %}
        {% else %}
          <div class="col-lg-8 offset-lg-4">
            {% include "partials/contact-info.html" %}  
          </div>
        {% endif %}
      
      </div>
    </div>

  </section>
{% endif %}