{# 
  Whichever page includes this partial will need to import the following at the top of the file.
  import "macros/icon-link.html" as icon_link_macro
#}

<footer id="footer" class="footer position-relative">
  <div class="container">
    <h3 class="sitename">{{ config.author }}</h3>
    <p class="quote">{{ config.extra.quote }}</p>
    {{ 
      icon_link_macro::social(
        links=config.extra.social_links, 
        extra_classes="d-flex justify-content-center"
      ) 
    }}
    <div class="container">
      <div class="copyright">{{ config.extra.copyright | markdown | safe }}</div>
      <div class="credits">{{ config.extra.credits | markdown | safe }}</div>
    </div>
  </div>
</footer>
