<footer id="footer" class="footer position-relative">
  <div class="container">
    <h3 class="footer__sitename">{{ config.title }}</h3>
    <p class="footer__quote">{{ config.extra.persona.quote }}</p>
    <div class="footer__social-links d-flex justify-content-center">
      {% include "partials/social-icon.html" %}
    </div>
    <div class="container">
      <div class="footer__copyright">{{ config.extra.persona.copyright | markdown | safe }}</div>
      <div class="footer__credits">{{ config.extra.persona.credits | markdown | safe }}</div>
    </div>
  </div>
</footer>
