{# 
  Whichever page includes this partial will need to import the following at the top of the file.
  import "macros/icon-link.html" as icon_link_macro
#}

<section id="hero" class="hero section">
  {% set section = get_section(path="home/_index.md") %}
  <img src="{{ section.permalink ~ section.extra.background }}" alt="background image">
  <div class="container" data-aos="zoom-out">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2>{{ section.title }}</h2>
        <p>
          <span class="typed" data-typed-items="{{ section.extra.items }}"></span>
        </p>
        {{ icon_link_macro::social(links=config.extra.social_links) }}
      </div>
    </div>
  </div>
</section>