<section id="hero" class="hero section">
  <img src="{{ get_url(path='assets/img/background.jpg') }}" alt="background image">
  <div class="container" data-aos="zoom-out">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h2>{{ section.title }}</h2>
        {% if section.extra and section.extra.subtitle %}
          <p>
            <span class="typed" data-typed-items="{{ section.extra.subtitles }}"></span>
          </p>
        {% endif %}
        <div class="social-links">
          {% include "partials/social-icon.html" %}
        </div>
      </div>
    </div>
  </div>
</section>