<!-- Navigation Menu -->
{% set home_section = get_section(path="_index.md") %}
{% set_global subsections = [] %}
{% for subsection_path in home_section.subsections %}
  {% set subsection = get_section(path=subsection_path) %}
  {% if subsection.extra.order and subsection.extra.order > 0 %}
    {% set_global subsections = subsections | concat(with=[subsection]) %}
  {% endif %}
{% endfor %}

{% if (page and page.path == "/") or (section and section.path == "/") %}  
  <header id="header" class="header d-flex flex-column justify-content-center">
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active" aria-label="Link to Home"><i class="bi bi-house"></i><span>Home</span></a></li> 
        {% for subsection in subsections | sort(attribute="extra.order") %}
          <li><a href="#{{ subsection.title | lower }}" aria-label="Link to {{ subsection.title }}"><i class="{{ subsection.extra.icon_class }}"></i><span>{{ subsection.title }}</span></a></li>
        {% endfor %}
        {% if config.extra.persona.contact_infos is defined %}
          <li><a href="#contact" aria-label="Link to Contact"><i class="bi bi-chat-text"></i><span>Contact</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
{% else %}
  {% set_global navigation_title = "" %}
  {% if page %}
    {% set_global navigation_title = page.components[0] %}
  {% elif section %}
    {% set_global navigation_title = section.components[0] %}
  {% endif %}
  <header id="header" class="header d-flex justify-content-center">
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" aria-label="Link to Home"><i class="bi bi-house"></i><span>Home</span></a></li>
        {% for subsection in subsections | sort(attribute="extra.order") %}
          <li><a href="{{ subsection.path }}" {% if subsection.title | lower == navigation_title %}class="active"{% endif %} aria-label="Link to {{ subsection.title }}"><i class="{{ subsection.extra.icon_class }}"></i><span>{{ subsection.title }}</span></a></li>
        {% endfor %}
        {% if config.extra.persona.contact_infos is defined %}
          <li><a href="/#contact" aria-label="Link to Contact"><i class="bi bi-chat-text"></i><span>Contact</span></a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
{% endif %}