{% import "macros/breadcrumbs.html" as breadcrumbs_macro %}
{% import "macros/title.html" as title_macro %}
{% import "macros/icon-link.html" as icon_link_macro %}

{#
  Page Macros
  These macros are used to render different types of pages on the website.
#}

{% macro post_thumbnail(thumbnail) %}
  <div class="post-img">
    <img src="{{ page.extra.thumbnail }}" alt="" class="img-fluid">
  </div>
{% endmacro post_thumbnail %}

{% macro post_share(link) %}

  <div id="share" class="share-container">
    <button id="share-button" class="share-button" aria-label="Share post">
      <i class="bi bi-box-arrow-up" aria-hidden="true"></i>
    </button>
    {{ icon_link_macro::share()}}
  </div>

{% endmacro post_share %}


{% macro post_tag(tags) %}
  <div class="post-tags">
    {% if tags %}
      {% for tag in tags %}
        <span class="tag">{{ tag | lower }}</span>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro post_tag %}


{% macro post_header(page) %}

  <div class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {{ blog_macro::post_tag(tags=page.taxonomies.tags) }}
    <div class="meta-top-divider"></div>
    <div class="meta-top">
      <div class="d-flex justify-content-between">
        <ul id="info" class="d-flex justify-content-between">
          <li id="date" class="d-flex align-items-center">
            <i class="bi bi-calendar-event" aria-hidden="true"></i>
            <time class="post-date">{{ page.date | date(format="%B %d, %Y")}}</time>
          </li>
          <li id="read" class="d-flex align-items-center">
            <i class="bi bi-hourglass-split" aria-hidden="true"></i>
            <time class="post-time">{{ page.reading_time }} min read</time>
          </li>
        </ul>
        <ul id="action" class="d-flex justify-content-between">
          <li class="d-flex align-items-center">
            <button id="bookmark-button" class="share-button" aria-label="Bookmark post">
              <i class="bi bi-bookmark-plus" aria-hidden="true"></i>
            </button>
          </li>
          <li class="d-flex align-items-center">
            {{ blog_macro::post_share(link=page.permalink) }} 
          </li>
        </ul>
      </div>
    </div>
    <div class="meta-top-divider"></div>
  </div>

{% endmacro post_header %}


{% macro post_content(content) %}
  <div class="post-content">{{ content | safe }}</div>
{% endmacro post_content %}


{% macro side_bar(page) %}

  {% set parent_section = page.ancestors | last %}
  {% set blog_section = get_section(path=parent_section, paginate_by=false, include_pages=true) %}
  <aside id="sidebar" class="sidebar col-lg-4">
    <div class="widgets-container">
      <div class="recent-posts-widget widget-item">
        <h3 class="widget-title">Recent Posts</h3>
        <ul id="post-entries">
          {% for page in blog_section.pages | slice(end=5) %}
            <li class="post-item">
              <h4><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h4>
              <time>{{ page.date | date(format="%b %d, %Y")}}</time>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </aside>

{% endmacro side_bar %}


{% macro post(page) %}

  {{ breadcrumbs_macro::render(crumbs=page.components) }}
  <div class="container">
    <div class="row">
      <section id="blog-post" class="blog-post section col-lg-8">
        <div class="container" data-aos="fade-up">
          <article class="article">
            {% if page.extra.thumbnail %} 
              {{ blog_macro::post_thumbnail(thumbnail=page.extra.thumbnail) }}
            {% endif %}
            {{ blog_macro::post_header(page=page) }}
            {{ blog_macro::post_content(content=page.content) }}
          </article>
        </div>
      </section>
      {{ blog_macro::side_bar(page=page) }}
    </div>
  </div>

{% endmacro blog_post%}