{% import "macros/render.html" as render_macro %}
{% import "macros/debug.html" as debug_macro %}

{#
  Section Macros
  These macros are used to render different types of sections on the website.
  The argument `pos` is expected to be a page or a section object that contains the necessary data.
  The macros include:
  - populate: Iterates over a list of sections and populates them based on their section type.
  - plain: Populates a plain section with a title, optional subtitle, and content.
  - category: Populates a category section with a title and a list of subsections.
  - blog: Populates a blog section with a list of blog posts.
#}

{% macro populate(poss) %}

  {% for pos in poss | sort(attribute="extra.order") %}
    {% if pos.extra and pos.extra.type %}
      {% set section_type = pos.extra.type %}
      {% if section_type == "plain" %}
        {{ self::plain(pos=pos) }}
      {% elif section_type == "category" %}
        {{ self::category(pos=pos) }}
      {% else %}
        {{ debug_macro::print(object="Unknown section type: " ~ pos.extra.type) }}
        {{ debug_macro::print(object=pos)}}
      {% endif %}
    {% elif pos.slug %}
      {{ debug_macro::print(object="Falling back to plain section for: " ~ pos.title ~ " (slug: " ~ pos.slug ~ ") due to missing type") }}
      {{ self::plain(pos=pos) }}
    {% else %}
      {{ debug_macro::print(object="Section type not defined for section: " ~ pos.title) }}
      {{ debug_macro::print(object=pos)}}
    {% endif %}
  {% endfor %}

{% endmacro %}

{% macro plain(pos) %}
  {% set title = pos.title %}
  {% if pos.extra and pos.extra.subtitle %}
    {% set subtitle = pos.extra.subtitle %}
  {% else %}
    {% set subtitle = "" %}
  {% endif %}

  <section id="{{ title | lower }}" class="plain section">

    {{ render_macro::section_title(title=title, subtitle=subtitle) }}

    {{ render_macro::text_content(content=pos.content) }}

  </section>
{% endmacro %}


{% macro category(pos) %}

  <section id="{{ pos.title | lower }}" class="category section">
  
    {{ render_macro::section_title(title=pos.title) }}
  
    {% set_global subsections = [] %}
    {% for subsection_path in pos.subsections %}
      {% set subsection = get_section(path=subsection_path) %}
      {% if subsection.extra.order and subsection.extra.order > 0 %}
        {% set_global subsections = subsections | concat(with=[subsection]) %}
      {% endif %}
    {% endfor %}
  
    {{ render_macro::cards(sections=subsections) }}
  
  </section>

{% endmacro %}


{% macro blog(pos) %}

  {{ render_macro::breadcrumbs(crumbs=pos.components) }}

  <section id="{{ pos.title | lower }}" class="category section">
  
    {{ render_macro::section_title(title=pos.title) }}
  
  </section>

  {% if pos.pages %}
    <ol id="post-entries" class="container" data-aos="fade-up">
      {% for page in pos.pages %}
        {{ render_macro::post_entry(
          title=page.title,
          date=page.date | date(format="%b %d, %Y"),
          link=page.permalink,
          excerpt=page.extra.excerpt
        ) }}
      {% endfor %}
    </ol>
  {% endif %}

{% endmacro %}