{% extends "base.html" %}
{% import "macros/blog.html" as blog_macro %}


{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ get_url(path='assets/stylesheet/post.css') }}">
{% endblock head %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ get_url(path='assets/stylesheet/citations.css') }}">
{% endblock extra_css %}

{% block main %}

  {{ blog_macro::post(page=page) }}

{% endblock main %}


{% block scripts %}
  {{ super() }}
  <script src="{{ get_url(path='vendor/aos/aos.js') }}"></script>
  <script src="{{ get_url(path='assets/script/home.js') }}"></script>
  <script src="{{ get_url(path='assets/script/share.js') }}"></script>
{% endblock scripts %}