{% component blog.post_thumbnail(thumbnail, title) %}
  <figure class="blog-post__img">
    <img src="{{ thumbnail }}" alt="Thumbnail for {{ title }}" class="img-fluid">
  </figure>
{% endcomponent blog.post_thumbnail %}

{% component blog.post_share(page) %}
  <aside id="share" class="share" aria-label="Post sharing">
    <button id="share-button" class="share__button" aria-label="Share post">
      <i class="bi bi-box-arrow-up" aria-hidden="true"></i>
    </button>
    {{ <render.share_menu title={page.title} permalink={page.permalink} /> }}
  </aside>
{% endcomponent blog.post_share %}

{% component blog.post_tag(tags) %}
  <ul class="blog-post__tags" aria-label="Post tags">
    {% if tags %}
      {% for tag in tags %}
        <li class="blog-post__tag">{{ tag | lower }}</li>
      {% endfor %}
    {% endif %}
  </ul>
{% endcomponent blog.post_tag %}

{% component blog.post_header(page) %}
  <header class="blog-post__header">
    <h2 class="blog-post__title">{{ page.title }}</h2>
    {{ <blog.post_tag tags={page.taxonomies.tags} /> }}
    <div class="blog-post__meta-divider"></div>
    <div class="blog-post__meta">
      <div class="d-flex justify-content-between">
        <ul id="info" class="d-flex justify-content-between">
          <li id="date" class="d-flex align-items-center">
            <i class="bi bi-calendar-event" aria-hidden="true"></i>
            <time class="blog-post__date" datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format="%B %d, %Y") }}</time>
          </li>
          <li id="read" class="d-flex align-items-center">
            <i class="bi bi-hourglass-split" aria-hidden="true"></i>
            <span class="blog-post__time">{{ page.reading_time }} min read</span>
          </li>
        </ul>
        <ul id="action" class="d-flex justify-content-between">
          <li class="d-flex align-items-center">
            <button id="bookmark-button" class="share__button" aria-label="Bookmark post">
              <i class="bi bi-bookmark-plus" aria-hidden="true"></i>
            </button>
          </li>
          <li class="d-flex align-items-center">
            {{ <blog.post_share page={page} /> }}
          </li>
        </ul>
      </div>
    </div>
    <div class="blog-post__meta-divider"></div>
  </header>
{% endcomponent blog.post_header %}

{% component blog.post_content(content) %}
  <section class="blog-post__content">{{ content | safe }}</section>
{% endcomponent blog.post_content %}

{% component blog.side_bar(page) %}
  {% set parent_section = page.ancestors | last %}
  {% set blog_section = get_section(path=parent_section, paginate_by=false, include_pages=true) %}
  <aside id="sidebar" class="sidebar col-lg-4">
    <section class="sidebar__widgets" aria-label="Sidebar widgets">
      <section class="recent-posts-widget widget" aria-labelledby="recent-posts-title">
        <h3 id="recent-posts-title" class="widget__title">Recent Posts</h3>
        <ul id="post-entries">
          {% for page in blog_section.pages[:5] %}
            <li class="recent-posts-widget__item">
              <h4><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h4>
              <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format="%b %d, %Y") }}</time>
            </li>
          {% endfor %}
        </ul>
      </section>
    </section>
  </aside>
{% endcomponent blog.side_bar %}

{% component blog.post(page) %}
  {{ <render.breadcrumbs crumbs={page.components} /> }}
  <div class="container">
    <div class="row">
      <section id="blog-post" class="blog-post segment col-lg-8">
        <div class="container" data-aos="fade-up">
          <article class="blog-post__article">
            {% if page.extra.thumbnail %}
              {{ <blog.post_thumbnail thumbnail={page.extra.thumbnail} title={page.title} /> }}
            {% endif %}
            {{ <blog.post_header page={page} /> }}
            {{ <blog.post_content content={page.content} /> }}
          </article>
        </div>
      </section>
      {{ <blog.side_bar page={page} /> }}
    </div>
  </div>
{% endcomponent blog.post %}
