// ─────────────────────────────────────────────────────────────────────────────
// Blog Listing
// ─────────────────────────────────────────────────────────────────────────────
@use '../variables';
@use '../mixins';

ol {
  list-style-type: none;
}

.post-entry {
  margin-bottom: 30px;

  &__meta {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &__title {
    font-size: var(--subtitle-font-size);
  }

  &__date {
    color: var(--color-gray);
    font-size: var(--normal-font-size);
    margin-left: 40px;
    width: fit-content;
    white-space: nowrap;
  }

  p {
    text-align: justify;
    margin-left: 20px;
  }
}
